.container {
    margin: 0px 70px 0px 70px;
    background: #ededed;
    padding: 40px;
}
h1 {
    font-size: 60px;
    padding: 10px;
    color: #fff;
}
h2 {
    font-size: 30px;
}
.top {
    background: #93f4f6;
    padding: 20px;
}
.middle {
    background: #e593f6;
    padding: 20px;
}
.intro {
    background-color: yellow;
    padding: 10px;
}
img {
  width: 100%;
  max-width: 400px;
}
